@media (min-width:992px) and (max-width:1199px) {

	.latesnewblk::after {
	width: 160px;
}

.quickenquirblk {
	padding: 20px;
}

.callicon {
	padding: 18px;
	margin-right: 20px;
}

.calltxtblk {
	padding-top: 10px;
}

.subscribeblk {
	padding: 20px;
	overflow: hidden;
}

.calltxtblk h2 {
	font-size: 24px;
	color: #a9b225;
	padding-bottom: 12px;
	padding-top: 9px;
}

.subscribeform input {
	height: 32px;
}


}
@media (min-width:768px) and (max-width:991px) {
.login-btn {

	position: relative;
	top: -6px;
}
.hdrtplgnbtn {
	top: -3px;
}
.searchhdr {
    display: inline-block;
    float: right;
    position: relative;
    top: -50px;
    right: -79px;
}

.headermainnav {
	 float: inherit; 
	padding: 12px 0;
	display: inline-block;
}

.latesnewblk::after {
	
	display: none;
}

.pd40 {
	padding: 20px 0;
}

.latesnewblk .meta {	
	font-size: 12px;
	letter-spacing: 0px;
	
	margin-bottom: 8px;
}

.latesnewblk .meta .author, .latesnewblk .meta .comment {
	margin-right: 7px;
	padding-left: 17px;
	
}

.latesnewblk .content-wrap {
	margin: -20px 5px 0;	
	padding: 19px 8px 8px;
	
}

.latesnewblk .post-item .title {
	font-size: 17px;
	line-height: 21px;
	
	
}

.latesnewblk .post-item .excerpt {
	line-height: 22px;
	margin-bottom: 7px;
	font-size: 13px;
}


.post-link {
	padding: 5px 0px;
}
.post-link a {
	font-size: 14px;
	line-height: 21px;


}

.post-link a > span {
	
	padding-left: 20px;
}

.testimonial-block-one {
	padding:0px;
}
.inner-box .text p {
	width: 80%;
	
	font-size: 17px;
	line-height: 22px;
	margin-bottom: 13px;
}

.author-thumb img {
	width: 90px;
	height: 90px;
	border-radius: 50%;
	margin-bottom: 10px;
	margin-top: 0;
}
.quickenquirblk {
	
	padding: 10px;
	
}
.callicon {

	padding: 17px;
	margin-right: 13px;
	padding-right: 15px;
}
.calltxtblk {

	padding-top: 1px;
}
.calltxtblk p {
	padding-bottom: 5px;
	font-size: 16px;
}
.calltxtblk h5 {
	padding-bottom: 10px;
}
.calltxtblk h2 {
	font-size: 29px;

	padding-bottom: 14px;
	padding-top: 4px;
}
.calltxtblk h4 {
	
	font-size: 14px;
}
.subscribeform {
	margin-top: 11px;
	
	width: 94%;

}
.subscribeform input {
	padding: 14px;
	width: 100%;
	height: 40px;
}
.subscribeform button {
	
	right: 10px;
	top: 7px;

}

.srvcbox {
	margin-bottom: 25px;
}
.ftrcontactbox {
	text-align: center;
}
.hdrlogo h3 {
	font-size: 50px;
	text-align: center;
}	
.searchhdr {
	width: 100%;
	position: relative;
}

.subsrchbtn button .fa {
    position: absolute;
    top: 4px;
    right: -1px;
}
#cssmenu {
	margin-top: 0px!important;
}


.logomain {
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}


#cssmenu.small-screen #menu-button {
	background: #74c312;
	border-radius: 55px;
	margin-bottom: 10px;
	color:#fff;
}
#cssmenu.small-screen #menu-button::before {
	background: #fff;

}

#cssmenu.small-screen #menu-button::after {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	
}

#cssmenu.small-screen ul li a, #cssmenu.small-screen ul ul li a {
	border-bottom: 0;
	padding: 10px 12px;
}

#cssmenu.small-screen #menu-button.menu-opened::before {
	background: #fff;
	
}

#cssmenu.small-screen #menu-button.menu-opened::after {
	background: #fff;
}

.hdrtplgnbtn {
	display: none;
}
.scl-top-dtl {
	margin-top: 4px;
	display: inline-block;
}

.scl-top-dtl li {
	padding-right: 14px;
	padding-top: 5px;
}

.scl-top-dtl li a {
	color: #fff;
	font-size: 17px;
}
.headermainnav {
	float: inherit;
	padding: 12px 0;
	width: 100%;
}
.searchhdr {
	width: 50%;
	position: relative;
	top: -126px;
	right: 0;
}

.hdrlogo h3 {
	font-size: 50px;
	text-align: left;
}

.headermainnav {
	float: inherit;
	padding: 12px 0;
	width: 100%;
	height: 72px;
}

.ftr-innr-lnks h3 {
	
	margin-bottom: 14px;
	display: inline-block;
	margin-top: 15px;
}

.ftr-innr-lnks {
	display: inline-block;
	width: 100%;
	z-index: 1000;
	position: relative;
}

.ftr-innr-lnks ul li a {
	color: #cecece;
	margin-bottom: 7px;
	display: inline-block;
	font-size: 15px;
	transition: all .4s ease;
	border-bottom: 1px dashed rgba(255,255,255,0.1);
	width: 100%;
	padding-bottom: 6px;
	line-height: 29px;
}


}


@media (max-width:767px) {
	.latesnewblk::after {
	display: none;
}
.inner-box .text p {
	width: 100%;
	
}
.subscribeblk {
	padding: 0px;
}

.subscribeblk::after {
	background-position: bottom;
	background-size: cover;
}
.quickenquirblk {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	border-radius: 0px;
}
.callicon {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    border-right: none;
    margin-right: 0;
    width: 100%;
}
.srvcbox {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}
.srcblktxt h3 {
	
	padding-top: 14px;
}
.homeicon {
    float: right;
    position: relative;
    top: -20px;
}
.ftr-lnks {
    padding: 20px 0 0 0;
}
.ftr-innr-lnks h3 {
	
	margin-bottom: 10px;
	margin-top: 20px;
}
.srcbxicon {
    width: 100%;
}
.pd50 {
	padding: 20px 0;
}

.testimonial-block-one {
	
	padding: 20px 0px;
}
.latesnewblk .content-wrap {
	padding: 24px 10px 10px;
	
}
.latesnewblk .post-item .excerpt {
    margin-bottom: 10px;
}
.testmnlmain::after {
	
	display: none;
}

.hdrmainnavbg {
	border-radius: 0;
	padding: 18px 10px;
}

.mainlogonav {
	padding: 0px;
	border-bottom: none;
	margin-bottom: 0;
}

.carousel-control.left {
	
	display: none;
}
.carousel-control.right {
	
	display: none;
}

.carousel-indicators li {
	width: 10px;
	height: 10px;

}

.carousel-indicators .active {
    background-color: #74c312;
    height: 10px;
    margin: 0 2px 0 0;
    width: 13px;
}

.carousel-indicators {
	
	bottom: -8px;
	
}

.pd40 {
    padding: 20px 0;
}



.slider-bg .carousel-inner .item img {
	height: auto;
}

.hdrlogo h3 {
	font-size: 50px;
	text-align: center;
	margin-top: -15px;
	padding-top: 0;
}
	
.searchhdr {
	width: 100%;
	position: relative;
}

.subsrchbtn button .fa {
    position: absolute;
    top: 4px;
    right: -1px;
}
#cssmenu {
	margin-top: 0px!important;
}


.logomain {
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}


#cssmenu.small-screen #menu-button {
	background: #74c312;
	border-radius: 55px;
	margin-bottom: 10px;
	color:#fff;
}
#cssmenu.small-screen #menu-button::before {
	background: #fff;

}

#cssmenu.small-screen #menu-button::after {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	
}

#cssmenu.small-screen ul li a, #cssmenu.small-screen ul ul li a {
	border-bottom: 0;
	padding: 10px 12px;
}

#cssmenu.small-screen #menu-button.menu-opened::before {
	background: #fff;
	
}

#cssmenu.small-screen #menu-button.menu-opened::after {
	background: #fff;
}

.hdrtplgnbtn {
	display: none;
}
.scl-top-dtl {
	margin-top: 4px;
	display: inline-block;
}

.scl-top-dtl li {
	padding-right: 14px;
	padding-top: 5px;
}

.scl-top-dtl li a {
	color: #fff;
	font-size: 17px;
}
.headermainnav {
	float: inherit;
	padding: 12px 0;
	width: 100%;
}
.top-bar .col-md-3.col-xs-12 {
	text-align: center;
}

.top-bar .text-right {
	text-align: center;
	float: left !important;
	display: inline-block;
	padding-top: 15px;
}

}

@media (min-width:320px) and (max-width:480px) {
	.latesnewblk::after {
	display: none;
}
.inner-box .text p {
	width: 100%;
	
}

.subscribeblk {
	padding: 0px;
}

.subscribeblk::after {
	background-position: bottom;
	background-size: cover;
}



.quickenquirblk {
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	border-radius: 0px;
}

.callicon {
    display: inline-block;
    vertical-align: top;
    padding: 0;
    border-right: none;
    margin-right: 0;
    width: 100%;
}

.srvcbox {
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 30px;
}
.srcblktxt h3 {
	
	padding-top: 14px;
}

.homeicon {
    float: right;
    position: relative;
    top: -20px;
}
.ftr-lnks {
    padding: 20px 0 0 0;
}

.ftr-innr-lnks h3 {
	
	margin-bottom: 10px;
	margin-top: 20px;
}
.srcbxicon {
    width: 100%;
}
.pd50 {
	padding: 20px 0;
}
.testimonial-block-one {
	
	padding: 20px 0px;
}

.latesnewblk .content-wrap {
	padding: 24px 10px 10px;
	
}

.latesnewblk .post-item .excerpt {
    margin-bottom: 10px;
}

.testmnlmain::after {
	
	display: none;
}

.hdrmainnavbg {
	border-radius: 0;
	padding: 18px 10px;
}

.mainlogonav {
	padding: 0px;
	border-bottom: none;
	margin-bottom: 0;
}

.carousel-control.left {
	
	display: none;
}
.carousel-control.right {
	
	display: none;
}

.carousel-indicators li {
	width: 10px;
	height: 10px;

}

.carousel-indicators .active {
    background-color: #74c312;
    height: 10px;
    margin: 0 2px 0 0;
    width: 13px;
}

.carousel-indicators {
	
	bottom: -8px;
	
}

.pd40 {
    padding: 20px 0;
}

.slider-bg .carousel-inner .item img {
	height: 190px;
}

.hdrlogo h3 {
	font-size: 50px;
	text-align: center;
	margin-top: -15px;
	padding-top: 0;
}
	
.searchhdr {
	width: 100%;
	position: relative;
}

.subsrchbtn button .fa {
    position: absolute;
    top: 4px;
    right: -1px;
}
#cssmenu {
	margin-top: 0px!important;
}


.logomain {
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
}


#cssmenu.small-screen #menu-button {
	background: #74c312;
	border-radius: 55px;
	margin-bottom: 10px;
	color:#fff;
}
#cssmenu.small-screen #menu-button::before {
	background: #fff;

}

#cssmenu.small-screen #menu-button::after {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	
}

#cssmenu.small-screen ul li a, #cssmenu.small-screen ul ul li a {
	border-bottom: 0;
	padding: 10px 12px;
}

#cssmenu.small-screen #menu-button.menu-opened::before {
	background: #fff;
	
}

#cssmenu.small-screen #menu-button.menu-opened::after {
	background: #fff;
}

.hdrtplgnbtn {
	display: none;
}
.scl-top-dtl {
	margin-top: 4px;
	display: inline-block;
}

.scl-top-dtl li {
	padding-right: 14px;
	padding-top: 5px;
}

.scl-top-dtl li a {
	color: #fff;
	font-size: 17px;
}
.headermainnav {
	float: inherit;
	padding: 12px 0;
	width: 100%;
}

.top-bar .col-md-3.col-xs-12 {
	text-align: center;
}

.top-bar .text-right {
	text-align: center;
	float: left !important;
	display: inline-block;
	padding-top: 15px;
}

}