@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
	padding: 0;
	margin: 0;
	background: #f8f9fa;
	font-family: 'Open Sans', sans-serif;
}

body a {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
}

body a:hover {
	text-decoration: none;
}

body a:focus, a:hover {
	text-decoration: none;
}
a, a:hover, a:focus {
	text-decoration: none;
}
input[type="button"], input[type="submit"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6,p,ul {
	margin: 0;
	padding: 0;
	font-family: "Barlow", sans-serif;
}
.form-group {
	margin-bottom: 5px;
}


li{
	list-style: none;
}

label {
	margin: 0;
}

.wrapper {
	float: left;
	width: 100%;
}
.pd-0 {
	padding: 0;
}
.mrgn-0 {
	margin: 0;
}

.pd20 {
	padding: 20px 0;
	
}

.pd40 {
	padding: 40px 0;
	
}
.pd50 {
	padding: 50px 0;
	
}
.pd60 {
	padding: 60px 0;
}
.pd80 {
	padding: 80px 0;
}
.pd-100 {
	padding: 100px 0;
}
.pd-30 {
	padding: 30px 0;
}
.pd-65 {
	padding: 65px 0;
	position: relative;
	z-index: 3;
}
.pd-85 {
	padding: 85px 0;
	position: relative;
	z-index: 3;
}
.pd-btm-50 {
	padding-bottom: 50px;
}
.pd-top-50 {
	padding-top: 50px;
}

.pdtp15{
	padding-top: :15px;


}
.grey-bg {
	background: #f5f5f5;
}

.form-control,
.form-control:focus {
	box-shadow: none;
}

.form-control {
	border-color: #dcdcdc;
	color: #333;
	font-size: 15px;
	min-height: 46px;
	padding: 6px 15px;
}

.form-control::hover,
.form-control::focus {
	border: 1px solid #1f2746;
}
.mainlogonav {
	padding: 20px 0;
	border-bottom: none;
	margin-bottom: -61px;
	position: relative;
	z-index: 100;
}




/*animted--accordion*/

/*
snippet from Animate.css - zoomIn effect
*/
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}.animated.infinite{-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.animated.hinge{-webkit-animation-duration:2s;animation-duration:2s
}@-webkit-keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}@keyframes zoomIn{0%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}50%{opacity:1}}.zoomIn{-webkit-animation-name:zoomIn;animation-name:zoomIn}
@-webkit-keyframes zoomOut{0%{opacity:1}50%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}100%{opacity:0}}@keyframes zoomOut{0%{opacity:1}50%{opacity:0;-webkit-transform:scale3d(.3,.3,.3);transform:scale3d(.3,.3,.3)}100%{opacity:0}}.zoomOut{-webkit-animation-name:zoomOut;animation-name:zoomOut}

#accordion .panel-title i.glyphicon {
	-moz-transition: -moz-transform 0.5s ease-in-out;
	-o-transition: -o-transform 0.5s ease-in-out;
	-webkit-transition: -webkit-transform 0.5s ease-in-out;
	transition: transform 0.5s ease-in-out;
	float: right;
}
.rotate-icon{
    -webkit-transform: rotate(-225deg);
    -moz-transform: rotate(-225deg);
    transform: rotate(-225deg);
}

#accordion .panel-title {
	font-size: 14px;
	color: inherit;
	text-align: left;
}

#accordion .panel {
	border: 0px;
	border-bottom: 1px solid #ddd;
}

#accordion .glyphicon {
	color: #940e05;
	font-weight: 300 !important;
}
.panel-group .panel+.panel{
    margin-top: 0px;
}
.panel-group .panel{
    border-radius: 0px;
}
.panel-heading {
	border-radius: 0px;
	color: #444;
	padding: 14px 15px;
}
.panel-custom > .panel-heading {
	background-color: #f4f4f4;
}
.panel-group .panel:last-child{
    border-bottom: 5px solid #2ba659;
}

panel-collapse .collapse.in{
    border-bottom:0;
}
/******Radio Button Css******/
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr, .radio .cr {
	position: relative;
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: .25em;
	width: 23px;
	height: 23px;
	float: left;
	margin-right: 10px;
	border-radius: 0px;
	text-align: center;
	margin-left: 0px;
}
.checkbox label input[type="checkbox"]:checked + .cr,
.radio label input[type="radio"]:checked + .cr {
	border-color: #f81f47;
	//opacity: 1 !important;
}
.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon, .radio .cr .cr-icon {
	position: absolute;
	font-size: .8em;
	line-height: 0;
	top: 47%;
	left: 1px;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
	transform: scale(1) rotateZ(0deg);
	opacity: 1;
	padding-left: 4px;
	color: #f81f47;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.checkbox label, .radio label {
	min-height: 25px;
	padding-left: 0px;
	width: 100%;
	line-height: 21px;
}

.labeltxt {
	/* width: 100%; */
	padding-top: 0;
	overflow: hidden;
	/* float: left; */
	margin-top: -1px;
}

.checkbox {
    position: relative;
    display: block;
    margin-top: 0;
    margin-bottom: 25px;
}
/******Radio Button Css******/
.radio { padding-left: 20px; }
.radio label {
	display: inline-block;
	vertical-align: middle;
	position: relative;
	//padding-left: 20px;
	padding-left: 10px;
}

.radio label::after {
	display: inline-block;
	position: absolute;
	content: " ";
	width: 16px;
	height: 16px;
	left: 2px;
	top: 2px;
	margin-left: -20px;
	border-radius: 50%;
	background-color: #555555;
	-webkit-transform: scale(0, 0);
	-ms-transform: scale(0, 0);
	-o-transform: scale(0, 0);
	transform: scale(0, 0);
	-webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	-o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
	border: 2px solid #fff;
}
.radio input[type="radio"] { opacity: 0!important; z-index: 1; }
.radio input[type="radio"]:focus + label::before { outline: thin dotted; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after { -webkit-transform: scale(1, 1); -ms-transform: scale(1, 1); -o-transform: scale(1, 1); transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label { opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before { cursor: not-allowed; }
.radio.radio-inline {
	margin-top: 0;
	display: inline-block;
}
.radio-primary input[type="radio"] + label::after { background-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::before { border-color: #337ab7; }
.radio-primary input[type="radio"]:checked + label::after { background-color: #337ab7; }
.radio-danger input[type="radio"] + label::after { background-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::before { border-color: #d9534f; }
.radio-danger input[type="radio"]:checked + label::after { background-color: #d9534f; }
.radio-info input[type="radio"] + label::after { background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before { border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after { background-color: #5bc0de; }
.radio-warning input[type="radio"] + label::after { background-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::before { border-color: #f0ad4e; }
.radio-warning input[type="radio"]:checked + label::after { background-color: #f0ad4e; }
.radio-success input[type="radio"] + label::after { background-color: #f81f47; }
.radio-success input[type="radio"]:checked + label::before { border-color: #f81f47; }
.radio-success input[type="radio"]:checked + label::after {
	background-color: transparent;
	left: 0;
	/* z-index: -41 !important; */
}
input[type="checkbox"].styled:checked + label:after, input[type="radio"].styled:checked + label:after { font-family: 'FontAwesome'; content: "\f00c"; }
input[type="checkbox"] .styled:checked + label::before, input[type="radio"] .styled:checked + label::before { color: #fff; }
input[type="checkbox"] .styled:checked + label::after, input[type="radio"] .styled:checked + label::after { color: #fff; }







/**header**/
.top-bar {
	/*! padding: 10px 0; */
}
.headermainnav {
	float: right;
	padding: 12px 0;
}
.hdrlogo img {
	width: 100%;
}
.cntct-top-dtl ul li {
	display: inline-block;
	margin-right: 20px;
}
.cntct-top-dtl ul li a {
	color: #000;
}
.login-btn {
	display: inline-block;
}
.hdrtplgnbtn {
	display: inline-block;
}


.top-bar {
	background: #1c1c1c;
	display: inline-block;
	width: 100%;
	padding: 10px 0px;
}


.login-btn a {
	background: #fff;
	width: 45px;
	height: 45px;
	border-radius: 50%;
	display: inline-block;
	line-height: 41px;
	text-align: center;
	margin-right: 5px;
}

.hdrtplgnbtn {
	display: inline-block;
	position: relative;
	top: 3px;
	margin-left: 2px;
}
.hdrtplgnbtn a {
	background: #74c312;
	padding: 11px 15px;
	border-radius: 30px;
	color: #fff;
	font-size: 19px;
	padding-right: 14px;
}
.hdrtplgnbtn a img {
	padding-right: 7px;
}

.hdrmainnavbg {
	position: relative;
	opacity: 1;
	background: #fff;
	display: inline-block;
	border-radius: 50px;
	padding: 10px 10px;
	width: 100%;
}

.carousel {
	position: relative;
	opacity: 1;
}

.hdrlogo h3 {
	font-size: 42px;
	color: #74c312;
	text-transform: uppercase;
	padding-top: 13px;
}

.scl-top-dtl {
	margin-top: 14px;
}



.scl-top-dtl li {
	float: left;
	padding-right: 14px;
}

.scl-top-dtl li a {
	color: #fff;
}

.searchhdr {
	display: inline-block;
}
.subsrchbtn button .fa {
	position: absolute;
	top: 15px;
	right: 2px;
}	

.icn-top {
	display: inline-block;
	width: 25px;
	height: 25px;
	background: #def5ee;
	color:#73c20f;
	text-align: center;
	border-radius: 50%;
	padding: 1px 0;
}
.cntct-top-dtl {
	padding: 10px 0;
}
.hdrlogo img {
	width: 80px;
}

/**Search Bar**/
.nav-srh {
	position: relative;
}
.search-toggle.opened .search-icon.icon-close {
	display: block;
}
.search-toggle.opened .search-icon.icon-search {
	display: none;
}
.search-toggle .search-icon.icon-close {
	display: none;
}
.search-icon {
	font-size: 16px;
	border: 0;
	outline: none;
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
	color: #fff;
	background-color: #73c20f;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 5px;
}
.nav-srh .search-area.opened {
	max-height: 100px;
	padding: 20px 25px;
	-webkit-box-shadow: 0px 0px 15px #dddddd80;
	box-shadow: 0px 0px 15px #dddddd80;
}

.nav-srh .search-area {
	position: absolute;
	right: -10px;
	bottom: -95px;
	z-index: 5;
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
	max-height: 0;
	overflow: hidden;
	background-color: #ffffff;
}
.nav-srh .search-area.opened {
	max-height: 100px;
	padding: 20px 25px;
	-webkit-box-shadow: 0px 0px 15px #dddddd80;
	box-shadow: 0px 0px 15px #dddddd80;
}
.nav-srh .search-area .src-input {
	outline: none;
	padding-left: 20px;
	margin: 0;
	width: 300px;
	background-color: #dddddd80;
	border: 1px solid #ddd;
	font-size: 15px;
	height: 45px;
	border-radius: 0;
}

.nav-srh .search-area .search-icon {
	vertical-align: middle;
	position: absolute;
	right: 30px;
	top: 22px;
	background-color: #73c20f;
	font-size: 20px;
	color: #fff !important;
	-webkit-transition: 0.5s all ease;
	transition: 0.5s all ease;
}
#cssmenu {
	background: transparent;
	margin: 0px 0 0;
	float: left;
	margin-top:10px!important;

}


.nav-srh {
	position: relative;
	float: right;
}

/**Cmmn btn**/

.cmmn-btn {
	background: #73c20f;
	display: inline-block;
	padding: 12px 20px;
	color: #fff;
	font-size: 15px;
	border-radius: 0;
	text-transform: uppercase;
	font-weight: 500;
	transition: all .3s ease;
	border: navajowhite;
}
.cmmn-btn:hover{
	background:#121521;
	color:#fff;
} 


.slider-bg {
  float: left;
  width: 100%;
  //height: 470px;
}
.slider-bg .carousel-inner {
  //height: 470px;
  width: 100%;
}
.slider-bg .carousel-inner .item::before {
  background: #000 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}
.slider-bg .carousel-inner .item img {
  //min-height: 470px;
  width: 100%;
}
.carousel-control {
  background-color: rgba(0, 0, 0, 0);
  bottom: 55%;
  color: #fff;
  font-size: 20px;
  left: 0;
  opacity: 1.0;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  width: 15%;
  top:inherit;
}

.carousel-control.left {
  background:none;
}

.carousel-control.right{ background:none;}

.carousel-control .fa-angle-left, .carousel-control .fa-angle-right, .carousel-control .icon-next, .carousel-control .icon-prev {
  display: inline-block;
  margin-top: -10px;
  position: absolute;
  top: 50%;
  z-index: 5;
}

.carousel-control .fa-angle-left, .carousel-control .icon-prev {
  left: -20%;
  margin-left: -10px;
  transition: all 0.5s ease;
}

.carousel-control .fa-angle-right, .carousel-control .icon-next {
  margin-right: -10px;
  right: -20%;
  transition: all 0.5s ease;
}

.carousel:hover .carousel-control .fa-angle-left, .carousel:hover .carousel-control .icon-prev{ left:13%}

.carousel:hover .carousel-control .fa-angle-right, .carousel:hover .carousel-control .icon-next{right: 13% }

.slider-text-bg {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.slider-text {
  bottom: inherit;
  right: inherit;
  text-align: left;
  text-shadow: none;
  width: 80%;
}
.slider-text h6 {
	color: #fff;
	font-family: "Open Sans",sans-serif;
	font-size: 26px;
	font-weight: 600;
	margin: 60px 0 30px;
}


.slider-text h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 500;
  line-height: 45px;
  margin: 0 0 20px;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}





.slider-text h1 span{ color:#74c312;}

.slider-text:hover h3:after { width: 30%; height:4px;}



.slider-text p {
  color: #fff;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 20px 0;
  width: 70%;
}

.btnss {
  margin: 35px 0 0 0;
}

.slider-text a.lrn {
  background: #74c312 none repeat scroll 0 0;
  color: #fff;
  font-family: "Open Sans",sans-serif;
  font-size: 15px;
  margin: 0 20px 0 0;
  padding: 10px 26px;
  position: relative;
  text-decoration: none;
  transition: all 0.5s ease 0s;
  display: inline-block;
  border-radius: 35px;
}







.slider-text a.lrn:hover{ background:#111; color:#fff;}

.slider-text a.contct {
  background: #ffffff none repeat scroll 0 0;
  color: #333;
  font-size: 15px;
  padding: 10px 26px;
  text-decoration: none;
  transition: all 0.5s ease 0s;
  font-family: 'Open Sans', sans-serif;
  position:relative;
  display: inline-block;
  border-radius: 35px;
}



.slider-text a.contct:hover{ background:#111; color: #fff;}

.slider-text a.contct:hover:before, .carousel-caption a.contct:hover:after { border-color:#01AEF0; }

.slider-text a.lrn:hover:before, .carousel-caption a.lrn:hover:after { border-color:#fff; }

.carousel-control i {
  border: 2px solid #111;
  color: #111;
  font-size: 40px;
  height: 48px;
  line-height: 42px;
  //opacity: 0.5;
  text-align: center;
  text-shadow: none;
  transition: all 0.3s ease 0s;
  width: 48px;
}

.carousel-control i:hover {background: #74c312 none repeat scroll 0 0; border-color: #74c312; color: #fff;}

.carousel-indicators .active {
background-color: #74c312;
  height: 16px;
  margin: 0 4px 0 0;
  width: 16px;
}

.carousel-indicators li {
  border-radius: 0;
  margin:0 4px 0 0;
  width: 16px;
  height: 16px;
  background-color: #111;
}

.searchhdr button {
	position: absolute;
	right: 22px;
	top: 7px;
	background: transparent;
	border: none;
	font-size: 20px;
	color: #74c312;
	font-weight: 300;
}


.searchhdr input {
	border-radius: 45px;
	padding-right: 30px;
	color: #333;
}



.mainhdng {
	text-align: center;
	margin-bottom: 20px;
}

.mainhdng p{
	color: #019a1e;
	text-transform: uppercase;
	font-size: 15px;

}

.mainhdng h3 {
	font-size: 38px;
	font-weight: 700;
	padding: 5px 0px;
}


/**footer**/

.ftr-sec {
	background: url('../images/footerbg.jpg');
	background-size: cover;
	background-position: bottom center;
	position: relative;
	z-index: -2;
}

.join-us h3 {
	color: #fff;
	font-size: 28px;
	font-weight: 700;
}
.subscrb-form .fomr-control {
	height: 60px;
	width: 530px;
	border-radius: 30px;
	padding-left: 20px;
	font-size: 16px;
	border: none;
	position: relative;
	margin-bottom:0px;
}
.subscrb-form {
	padding: 10px 0;
}
.nwsltr-btn {
	background: #73c20f;
	border: none;
	color: #fff;
	padding: 14px 18px;
	border-radius: 30px;
	position: absolute;
	right: 45px;
	top: 15px;
	text-transform: uppercase;
	font-size: 16px;
	transition: all .3s ease;
}
.nwsltr-btn:hover {
	background: #121521;
}
.join-us p {
	color: #cecece;
	margin-top: 10px;
}
.ftr-logo img {
	width: 90px;
}
.ftr-abt-dis {
	margin-top: 25px;
}

.ftr-abt-dis p {
	color: #fff;
	line-height: 26px;
}
.ftr-social ul li {
	display: inline-block;
	margin-right: 6px;
}

.ftr-time-tbl ul li {
	color: #cecece;
	border-bottom: 1px solid #393c49;
	overflow: hidden;
	text-transform: uppercase;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 14px;
}
.ftr-innr-lnks ul li a {
	color: #cecece;
	margin-bottom: 15px;
	display: inline-block;
	font-size: 14px;
	transition:all .4s ease;
}
.ftr-innr-lnks ul li a:hover {
	color:#73c20f;
	padding-left:4px;
}
.ftr-innr-lnks ul li a:hover i{
	color:#fff;
}
.subscrb-sec {
	padding-bottom: 40px;
}
.ftr-time-tbl ul li .time {
	float: right;
}
.ftr-lnks {
	border-top: 1px solid #393c49;
	padding: 50px 0 0 0;
}
.ftr-innr-lnks h3 {
	text-transform: inherit;
	color: #fff;
	margin-bottom: 30px;
	font-weight: 600;
	border-left: 5px solid #74c312;
	padding-left: 7px;
}

.ftr-social {
	margin-top: 20px;
}
.ftr-social li a {
	display: block;
	color: #ffffff;
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	background-color: #3a3c45;
	text-align: center;
	font-size: 14px;
	padding-left: 3px;
}

.ftr-social li a:hover {
	color: #ffffff;
	background-color: #73c20f;
	-webkit-transform: translateY(-2px);
	transform: translateY(-2px);
}

.ftr-innr-lnks ul li a i {
	margin-right: 4px;
	color: #73c20f;
}


.fotrtopblk {
	background: #272727;
	padding: 0px 0px;
}


.arrowicon {
	display: inline-block;
}

.findus {
	display: inline-block;
}

.findus h3 {
	font-size: 20px;
	color: #fff;
}

.homeicon {
	display: inline-block;
}


.homeicon .fa {
	color: #73c20f;
	font-size: 45px;
	padding: 0 5px;
	position: relative;
	top: 6px;
}

.arrowicon .fa {
	font-size: 22px;
	color: #fff;
	font-weight: 400;
	padding: 0 5px;
}

.findus h3 {
	font-size: 20px;
	color: #fff;
}




.owl-carousel .owl-item {
	position: relative;
	min-height: 1px;
	float: left;
	-webkit-backface-visibility: hidden;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

.latesnewblk {
	position: relative;
	z-index: 0;
}

.latesnewblk::before {
	background: url(../images/shape-4.png);
	position: absolute;
	content: "";
	/* left: 0; */
	right: 0;
	bottom: 0;
	/* top: 0; */
	background-repeat: no-repeat;
	width: 220px;
	height: 278px;
	z-index: -2;
}

.latesnewblk::after {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../images/features-dot.png);
	background-repeat: no-repeat;
	z-index: -1;
}


.latesnewblk .post-item {
	text-align: center;
}

.latesnewblk .inner {
	padding-bottom: 40px;
}

.latesnewblk .image-wrap {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}

.latesnewblk .content-wrap {
	margin: -20px 10px 0;
	position: relative;
	background-color: #fff;
	padding: 34px 50px 30px;
	border-radius: 5px;
	box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.03);
}

.latesnewblk .image-wrap .post-date-custom {
	font-size: 14px;
	font-weight: 600;
	color: #404a3d;
	padding: 6px 20px;
	border-radius: 5px;
	display: inline-block;
	background-color: #eddd5e;
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-50%);
}

.latesnewblk .image-wrap img {
	border-radius: 5px;
	width: 100%;
	height: auto;
	transition: transform ease 0.3s;
	transform: scale(1);
}

.latesnewblk .image-wrap img {
	border-radius: 5px;
	width: 100%;
	height: auto;
	transition: transform ease 0.3s;
	transform: scale(1);
}

.latesnewblk .post-item:hover .image-wrap img {
	transform: scale(1.1);
}


.latesnewblk .content-wrap {
	margin: -20px 10px 0;
	position: relative;
	background-color: #fff;
	padding: 34px 50px 30px;
	border-radius: 5px;
	box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.03);
}

.latesnewblk .meta {
	color: #5b8c51;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 8px;
}

.latesnewblk .meta .author, .latesnewblk .meta .comment {
	margin-right: 16px;
	position: relative;
	padding-left: 22px;
	text-transform: uppercase;
	display: inline-block;
}

.latesnewblk .meta .author::before {
	content: "\f007";
}

.latesnewblk .meta .author::before, .latesnewblk .meta .comment::before {
	font-family: "FontAwesome";
	position: absolute;
	left: 0;
	top: 0;
}

.latesnewblk .meta .author a, .latesnewblk .meta .comment a {
	color: #5b8c51;
}

.latesnewblk .meta .comment {
	margin-right: 0px;
}

.latesnewblk .meta .author, .latesnewblk .meta .comment {
	margin-right: 16px;
	position: relative;
	padding-left: 22px;
	text-transform: uppercase;
	display: inline-block;
}
.latesnewblk .meta .comment::before {
	content: "\f086";
}


.latesnewblk .post-item .title {
	margin: 0 0 10px;
}

.title span a {
	color: #333;
	/* font-size: 21px; */
}

.latesnewblk .post-item .title {
	font-size: 24px;
	line-height: 36px;
	font-family: "Barlow", sans-serif;
	font-weight: 600;
}

.latesnewblk .post-item {
	text-align: center;
}
.latesnewblk .post-item .excerpt {
	line-height: 32px;
	margin-bottom: 30px;
}

.post-link a {
	font-size: 16px;
	line-height: 22px;
	color: #404a3d;
	display: inline-block;
}

.post-link a > span {
	position: relative;
	padding-left: 28px;
	display: inline-block;
	transition: transform ease 0.3s;
}

.post-link a > span::before {
	content: "\f105";
	font-family: "FontAwesome";
	font-size: 14px;
	color: #404a3d;
	line-height: normal;
	width: 18px;
	height: 18px;
	line-height: 18px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	background-color: #eddd5e;
	position: absolute;
	top: 2px;
	left: 0;
	transition: all ease 0.3s;
}

.post-link a > span::after {
	content: "\f105";
	font-family: "FontAwesome";
	font-size: 14px;
	color: #fff;
	line-height: normal;
	width: 18px;
	height: 18px;
	line-height: 18px;
	border-radius: 50%;
	text-align: center;
	display: inline-block;
	background-color: #5b8c51;
	position: absolute;
	top: 2px;
	left: -12px;
	opacity: 0;
	transition: all ease 0.3s;
}
.post-link:hover a > span::before {
	opacity: 0;
	left: 12px;
}

.post-link:hover a > span::after {
	left: 0px;
	opacity: 1;
}



/*testimonial-blk*/
.testmnlmain {
	position: relative;
	background: url(../images/testimonialbg.jpg);
	background-size: cover;
	background-position: inherit;
}

.testmnlmain::after {
	position: absolute;
	content: "";
	left: 70%;
	right: 0;
	bottom: 0;
	top: -80px;
	background: url(../images/leaf1.png);
	background-repeat: no-repeat;
	width: 210px;
	height: 279px;
}

.testmnlmain::before {
	position: absolute;
	content: "";
	left: 20%;
	right: 0;
	bottom: 0;
	top: 10px;
	background: url(../images/leaf2.png);
	background-repeat: no-repeat;
	width: 210px;
	height: 279px;
}


.testimonial-block-one {
	text-align: center;
	padding: 60px 0px;
}

.author-thumb img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	margin-bottom: 20px;
	margin-top: 35px;
}

.inner-box .text p {
	width: 50%;
	margin: 0 auto;
	font-size: 18px;
	line-height: 23px;
	margin-bottom: 20px;
}

.author-box h3 {
	font-size: 15px;
	color: rgba(0,0,0,0.5);
	padding-bottom: 20px;
}



.subscribeblk {
	position: relative;
	z-index: 0;
	padding: 100px;
}


.subscribeblk::after {
	background: url(../images/srvcbgmain.jpg);
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	background-position: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}

.subscribeblk::before {
	background: url(../images/ring-icon.png);
	position: absolute;
	content: "";
	right: 190px;
	width: 110px;
	height: 110px;
	bottom: 50px;
}

.quickenquirblk {
	background: #fff;
	border-radius: 5px;
	padding: 30px;
	box-shadow: 0 8px 12px 4px rgba(0,0,0,.1);
}




.callicon {
	display: inline-block;
	vertical-align: top;
	padding: 50px;
	border-right: 1px solid #ddd;
	margin-right: 40px;
}

.calltxtblk {
	display: inline-block;
	padding-top: 30px;
}



.calltxtblk p {
	color: #8f9998;
	padding-bottom: 5px;
	font-size: 16px;
}


.calltxtblk h5 {
	text-transform: uppercase;
	padding-bottom: 10px;
}

.calltxtblk h2 {
	font-size: 34px;
	color: #a9b225;
	padding-bottom: 18px;
	padding-top: 9px;
}

.calltxtblk h4 {
	color: #2a462f;
}
.subscribeform {
	margin-top: 15px;
	display: inline-block;
	width: 100%;
	position: relative;
}

.subscribeform input {
	border: 1px solid #ddd;
	padding: 14px;
	border-radius: 30px;
	width: 100%;
	/* position: relative; */
}

.subscribeform button {
	position: absolute;
	right: 10px;
	top: 14px;
	background: transparent;
	border: none;
}


.srvciconblk {
	background: #fff;
}

.srvcbox {
	display: inline-flex;
}

.srcbxicon {
	display: inline-block;
}

.srcblktxt {
	display: inline-block;
	padding-left: 12px;
}

.ftrcontactbox {
	padding: 30px 0px;
}

.srcblktxt h3 {
	font-size: 17px;
	color: cadetblue;
}

.srcblktxt p {
	font-size: 14px;
	padding-top: 5px;
}


.ftrcntcalusblk {
	background: #232323;
	padding: 30px 0px;
	color: #fff;
}

.ftrcntcalusblk p{
	padding-bottom: 5px;
}


.bredcrumb {
	background: url(../images/bredcrumbg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0px;
	margin-top: -50px;
	position: relative;
	z-index: -10;
	color: #fff;
	text-align: center;
}

.bredcrumb::after {
	background: rgba(0,0,0,0.7);
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -2;
}

.brdcmubtitle h3 {
	padding: 10px 0px;
	font-size: 45px;
}

.breadcrumb-trail {
	font-size: 19px;
	background: #fff;
	display: inline-block;
	border-radius: 5px;
	width: 30%;
	padding: 12px;
}


.breadcrumb-trail span {
	color: #444;
	padding-left: 11px;
}


/*blog-detail*/
.blgdtlimg img {
	width: 100%;
}


.blogdtlftblk {
	position: relative;
}


.post-date-custom {
	position: absolute;
	top: 0;
	background: #eddd5e;
	padding: 14px;
	font-size: 16px;
	border-radius: 0px 0px 5px 0px;
}

.is-single-post .inner-content .inner-content {
	padding: 23px 0 0;
}

.inner-content .post-meta {
	color: #5b8c51;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-bottom: 8px;
}
.inner-content .post-meta .post-meta-content-inner .item {
	margin-right: 27px;
	position: relative;
	padding-left: 22px;
	text-transform: uppercase;
	display: inline-block;
}
.inner-content .post-meta .item.post-by-author::before {
	content: "\f007";
}
.inner-content .post-meta .item.post-by-author a, .inner-content .post-meta .item.post-comment a, .inner-content .post-meta .item.post-meta-categories a {
	color: #5b8c51;
	text-transform: uppercase;
}


.inner-content .post-meta .item.post-comment::before {
	content: "\f086";
}
.inner-content .post-meta .item::before {
	font-family: "FontAwesome";
	position: absolute;
	left: 0;
	top: 0;
}
.inner-content .post-meta .item.post-by-author a, .inner-content .post-meta .item.post-comment a, .inner-content .post-meta .item.post-meta-categories a {
	color: #5b8c51;
	text-transform: uppercase;
}
.inner-content .post-meta .post-meta-content-inner .item {
	margin-right: 27px;
	position: relative;
	padding-left: 22px;
	text-transform: uppercase;
	display: inline-block;
}
.inner-content .post-meta .item.post-date::before {
	content: "\f073";
}
.inner-content .post-meta .item.post-meta-categories::before {
	content: "\f07b";
}
.is-single-post .inner-content .post-title {
	margin-bottom: 33px;
}
.post.inner-content .post-title {
	font-size: 34px;
	font-family: "Barlow", sans-serif;
	font-weight: 600;
	margin: 0 0 14px;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.inner-content p {
	
	color: #878986;
	font-size: 16px;
	font-weight: 500;
	line-height: 2.125;

}
.inner-content .post-tags .inner {
	font-size: 16px;
	position: relative;
	padding-left: 27px;
}

.inner-content .post-tags .inner::before {
	content: '\f02c';
	font-family: "FontAwesome";
	line-height: normal;
	position: absolute;
	left: 0;
	top: 10px;
	color: #eddd5e;
}
.post.inner-content a:not([class^="wp-block-button"]), .is-single-post .comment-text a:not([class^="wp-block-button"]) {
	color: #5b8c51;
}
.inner-content .post-author {
	clear: both;
	overflow: hidden;
	padding: 52px 60px;
	margin-top: 40px;
	background-color: #f5f0e9;
	position: relative;
	border-radius: 5px;
}

.inner-content .post-author .author-avatar {
	width: 160px;
	float: left;
	margin: 5px 40px 0 0;
}
.inner-content .post-author .author-avatar a {
	width: 160px;
	height: auto;
	display: inline-block;
	border-radius: 5px;
}
.inner-content .post-author .author-avatar a img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}
.inner-content .post-author .author-desc {
	overflow: hidden;
}

.inner-content {
	padding-top: 15px;
}

.inner-content .post-title {
	padding: 10px 0px;
	font-size: 28px;
}


.inner-content .inner {
	padding: 9px 0px;
	margin: 20px 0px;
}

.inner-content .inner a {
	color: #5b8c51;
	font-size: 17px;
	vertical-align: top;
}

.post-author {
	clear: both;
	overflow: hidden;
	padding: 52px 60px;
	margin-top: 40px;
	background-color: #f5f0e9;
	position: relative;
	border-radius: 5px;
}

 .post-author .author-avatar {
	width: 160px;
	float: left;
	margin: 5px 40px 0 0;
}

.post.hentry a:not([class^="wp-block-button"]), .is-single-post .comment-text a:not([class^="wp-block-button"]) {
	color: #5b8c51;
}
 .post-author .author-avatar a img {
	width: 100%;
	height: auto;
	border-radius: 5px;
}
 .post-author .author-desc {
	overflow: hidden;
}
 .post-author .name {
	font-size: 32px;
	text-transform: uppercase;
	margin: 0 0 16px;
}
 .post-author .author-desc > p {
	margin-bottom: 0;
	color: #878986;
}

.comments-area .comments-title, .comments-area .comment-reply-title {
	font-size: 30px;
	color: #404a3d;
	margin-top: 60px;
	margin-bottom: 40px;
}

.comment-list {
	list-style: none;
	margin: 0;
}
.comment-list li.comment {
	padding: 0;
}
.comment-list article {
	position: relative;
	padding: 0 0 30px;
	margin-bottom: 30px;
	border-bottom: 1px solid #f5f0e9;
	border-radius: 5px;
	transition: background ease 0.3s;
}

.comment-list article .gravatar {
	width: 160px;
	border-radius: 50%;
	float: left;
	margin: 0 30px 0 0;
	overflow: hidden;
}
.comment-list article .gravatar img {
	width: 100%;
	height: auto;
}
.comment-list .comment-content {
	overflow: hidden;
}
.comment-meta {
	margin-bottom: 13px;
}
.comment-author {
	font-size: 26px;
	padding-right: 10px;
	text-transform: uppercase;
	margin: 4px 0;
	display: inline-block;
}
.comment-time {
	color: #5b8c51;
	font-size: 16px;
	padding-right: 10px;
}

.comment-text {
	overflow: hidden;
	margin-bottom: 22px;
}
.comment-text > p:last-child {
	margin-bottom: 0;
}
.comment-reply a, #cancel-comment-reply-link {
	font-family: "Barlow", sans-serif;
	font-size: 14px;
	line-height: 30px;
	font-weight: 600;
	padding: 5px 20px;
	border-radius: 5px;
	display: inline-block;
	color: #404a3d;
	background-color: #eddd5e;
}

#comments .comment-respond {
	position: relative;
}
.comments-area .comments-title, .comments-area .comment-reply-title {
	font-size: 30px;
	color: #404a3d;
	margin-top: 60px;
	margin-bottom: 40px;
}
.comments-area .comment-reply-title > small {
	font-size: 100%;
}
#comments .message-wrap textarea {
	height: 170px;
}
#comments .name-wrap {
	margin-right: 2%;
}
#comments .name-wrap, #comments .email-wrap {
	float: left;
	width: 49%;
}
#comments .name-wrap input, #comments .email-wrap input, #comments .url-wrap input, #comments .message-wrap textarea {
	width: 100%;
}
/*select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"] {
	font-family: "Barlow", sans-serif;
	color: #878986;
	font-weight: 500;
	background-color: #f5f0e9;
	padding: 22px 30px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #f5f0e9;
	font-size: 16px;
	margin-bottom: 20px;
	text-shadow: none;
	box-shadow: none;
	box-sizing: border-box;
	transition: all ease 0.3s;
}*/

#comments .comment-respond .form-submit {
	clear: both;
	margin: 0;
}

.form-submit input{
	font-family: "Barlow", sans-serif;
	font-size: 20px;
	font-weight: 500;
	color: #404a3d;
	background-color: #eddd5e;
	padding: 14px 40px;
	border-radius: 5px;
	display: inline-block;
	-webkit-appearance: none;
	transition: all ease 0.3s;
	border: none;
}

.form-submit input :hover{
	outline: 0;
	background-color: #404a3d;
	color: #fff;
}

.sidebarsrch {
	background: #eddd5e;
	border-radius: 5px;
	padding: 10px 10px;
	position: relative;
}

.sidrbar input {
	width: 100%;
	padding-right: 40px;
	margin: 0px;
}
.sidebarsrch button {
	position: absolute;
	right: 20px;
	top: 33px;
	background: transparent;
	border: none;
}

.lightbg {
	position: relative;
	z-index: 1;
	margin-top: 30px;
	padding-top: 22px;
	background-color: #f5f0e9;
	padding: 35px 50px 40px;
	border-radius: 5px;
}
.rcnpostimg {
	display: inline-block;
	width: 41%;
}

.rcnpostimg img {
	width: 70px;
	height: 70px;
	border-radius: 12px;
}


.rcnpostitle {
	display: inline-block;
	width: 50%;
}

.sidebarrcnpst li {
	display: inline-block;
	width: 100%;
	margin-bottom: 30px;
	border-bottom: 1px solid #fff;
	padding-bottom: 20px;
}


.rcnpostitle h5 {
	font-size: 16px;
	line-height: 20px;
	padding-bottom: 6px;
}
.rcnpostitle span a {
	color: #5b8c51;
	font-size: 15px;
}

.rcnpostitle span a .fa {
	padding-right: 8px;
}

.rcnpostimg {
	display: inline-block;
	width: 41%;
	vertical-align: bottom;
}

.sidrbarcatgry h3 {
	border-bottom: 1px solid #fff;
	padding-bottom: 8px;
	margin-bottom: 10px;
}

.sidrbarcatgry li a {
	color: #444;
	font-size: 16px;
	line-height: 40px;
}

.sidrbarcatgry li a span {
	float: right;
	color: #5b8c51;
}

.sidrbfollwus li {
	display: inline-block;
	padding-right: 8px;
	margin-bottom: 0;
}


.sidrbfollwus li a {
	background: #fff;
	width: 50px;
	height: 50px;
	display: inline-block;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	font-size: 18px;
}






.socials li {
	padding: 5px;
}

.zmdi-facebook {
	background: #3b5998;
}
.zmdi-twitter {
	background: #1da0f2;
}
.zmdi-google {
	background: #e72734;
}

.whitebg {
	box-shadow: 0 8px 12px 4px rgba(0,0,0,.1);
	display: inline-block;
	width: 100%;
	padding: 50px;
}

.loginform label {
	position: relative;
}


.loginform label .fa-user {
	position: absolute;
	left: 11px;
	top: 20px;
}

.loginform label .fa-unlock {
	position: absolute;
	left: 11px;
	top: 20px;
}

.loginform label .fa-envelope {
	position: absolute;
	left: 11px;
	top: 20px;
}


.loginform .form-group {
	margin-bottom: -10px;
}

.pdbtm20 {
	padding-bottom: 30px;
}


.socillogin {
	margin-top: 41px;
	margin-left: -12px;
}

.socialtitle {
	display: inline-block;
}
.socialtitle p {
	font-weight: bold;
	letter-spacing: 1px;
	position: relative;
	top: -17px;
	padding-right: 10px;
}


.socialicon {
	display: inline-block;
}
.socials li {
	float: left;
}


.socials li a {
	width: 40px;
	height: 40px;
	display: inline-grid;
	color: #fff;
	text-align: center;
	border-radius: 50%;
}

.socials li a .fa {
	line-height: 40px;
	border-radius: 50%;
}

.loginicon {
	position: relative;
}

.loginicon {
	position: relative;
}

.loginicon::after {
	background: #ddd;
	/* height: 500px; */
	width: 1px;
	position: absolute;
	content: "";
	/* left: 0; */
	right: 90px;
	top: 0;
	bottom: 0;
}



.loginicon p {
	padding-left: 80px;
	font-size: 19px;
}

.loginicon p a {
	color: #74c312;
}



.registriconimgblk {
	position: relative;
	text-align: right;
}
.registriconimgblk::after {
	position: absolute;
	content: "";
	left: 120px;
	bottom: 0;
	top: 0;
	width: 1px;
	background: #ddd;
}


.registriconimgblk img {
	width: 60%;
}

.registriconimgblk p {
    padding-right: 50px!important;
    font-size: 19px;
    text-align: right;
    padding-top: 10px;
}

.registriconimgblk p a {
	color: #74c312;
}

.cntrigtimg {
    text-align: center;
}

.contcontent {
    text-align: center;
}

.contcontent p {
    font-size: 16px;
    line-height: 23px;
}

.contcontent p a {
    border: 2px solid #74c312;
    color: #333;
    padding: 14px 30px;
    border-radius: 30px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 35px;
}

.cnticon {
	display: inline-block;
}

.contactxt {
    display: inline-block;
    padding-left: 20px;
    position: relative;
    top: 6px;
}

.contactdtrlist li {
	width: 32.3%;
	display: inline-block;
}


.cnticon i {
	background: #74c312;
	width: 100px;
	height: 100px;
	font-size: 45px;
	color: #fff;
	text-align: center;
	line-height: 100px;
	border-radius: 50%;
}

.mapiframe iframe {
	width: 100%;
	height: 450px;
	margin-top: 60px;
}

.contactxt h4 {
    padding-bottom: 6px;
    font-size: 21px;
}

.contactxt p {
    font-size: 16px;
    font-weight: 500;
    color: #444;
}

.lfthdng {
    margin-bottom: 30px;
}


.cntenqiurfrm textarea {
    height: 220px;
    width: 100%;
}


.cntenqiurfrm input {
    width: 97%;
}



/*.contctformblk::after {
    background: #74c312;
    position: absolute;
    content: "";
    left: 0;
    width: 54%;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.contctformblk {
    position: relative;
}*/

.pdtp40{
	padding-top: 40px;

}

section.wrapper.contactmap {
    display: inline-block;
    width: 100%;
    //margin-top: -59px;
}

.contactpgblk {
    background: #efefef;
}


.cntenqiurfrm .form-submit input {
    font-family: "Barlow", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #fff;
    background-color: #444;
    padding: 14px 40px;
    border-radius: 5px;
    display: inline-block;
    -webkit-appearance: none;
    transition: all ease 0.3s;
    border: none;
}


.abtcontent {
    width: 80%;
}

.abutpageblk::after {
    position: absolute;
    content: "";
   right: -30px;
    top: 0;
    bottom: 0;
     background: url(../images/aboutimg.png);
    background-repeat: no-repeat;
    width: 658px;
    height: 553px;
    z-index: -1;
}

.abutpageblk {
    position: relative;
    overflow: hidden;
}
.abtcontent p {
    font-size: 17px;
    line-height: 24px;
    padding: 20px 0px;
}


.abtsrvblk {
    background: #fcdb5a;
    margin: 00px 0px;
    padding: 70px 0px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}


.abtsrvblk::after {
    position: absolute;
    content: "";
   	right: -30px;
    top: 0;
    bottom: 0;
     background: url(../images/section_02_bg.png);
    background-repeat: no-repeat;
    width: 552px;
    height: 562px;
    z-index: -1;
}


.abtsrvlist li {
    width: 23%;
    display: inline-block;
    position: relative;
    padding-top: 65px;
    margin-right: 15px;
}

.abtsrvlist li::after {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 5px solid #c6ad4d;
    position: absolute;
    content: "";
    top: 0;
    background: rgba();
}

.abtsrvlist li::before {
    background-color: #c6ad4d;
    position: absolute;
    content: "";
    top: 0;
    left: 24px;
    top: 12px;
    bottom: 0;
    height: 1px;
    width: 94%;
}

.abtsrvlist li h3 {
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 10px;
}

.abtsrvlist li h4 {
    padding-bottom: 11px;
    font-size: 19px;
    text-transform: uppercase;
}


.abtsrvlist li p {
    padding-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
}

.copyright {
	background: #74c312;
	color: #fff;
	text-align: center;
	padding: 10px 0px;
	font-size: 15px;
}

.copyright a {
	color: #000;
	padding-left: 5px;
}